body > header {
  background-color: #ED4D50;
}

body .logo {
  font-size: 230%;
}

body > header a, body > header a:hover {
  color: #FFFFFF;
}

body > footer {
  background-color: #1B1F23;
  color: #7F8C8D;
}

body > footer a, body > footer a:hover {
  color: #fff;
  text-decoration: none
}

body > footer span.heart {
  color: #ED4D50;
}

.tabs-header {
  padding: 0;
  margin-bottom: 0;
}

.tab-title ,
.tab-title a {
  border-radius: 5px 5px 0 0;
}

.tab-title {
  float: left;
  list-style: none;
  padding: 5px 0;
  width: auto;
}

.tab-title a {
  border: 1px solid #ccc;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
}

.tabs-content,
.tab-content {
  border: 1px solid #ccc;
}

.tabs-content {
  padding: 20px;
  margin-top: 1px;
}

.tab-content {
  display: none;
  min-height: 150px;
  width: 100%;
}

.tab-title .is-active {
    border-bottom: 1px solid #fff;
}

.tab-content.is-active {
  display: block;
}

.clear-fix {
  clear: both;
  content: " ";
  display: table;
}

// utility class

// spacing out
.tiny-spacing-out-bottom {
  margin-bottom: 15px;
}

.tiny-spacing-out-top {
  margin-top: 15px;
}

.tiny-spacing-out-right {
  margin-right: 15px;
}

.tiny-spacing-out-left {
  margin-left: 15px;
}

.tiny-spacing-out {
  margin: 15px;
}

// spacing in

.tiny-spacing-in-bottom {
  padding-bottom: 15px;
}

.tiny-spacing-in-top {
  padding-top: 15px;
}

.tiny-spacing-in-right {
  padding-right: 15px;
}

.tiny-spacing-in-left {
  padding-left: 15px;
}

.tiny-spacing-in {
  padding: 15px;
}

// resize

// just resize horizontal
.resize-horizontal {
  resize: horizontal;
}

// just resize vertical

.resize-vertical {
  resize: vertical;
}
