<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Action</th>
  </tr>
  <% posts.each do |post| %>
    <%= render partial: 'posts/post', locals: { post: post } %>
  <% end %>
</table>

<p>
  <a href="/admin/posts/new" class="button primary">Create New Post</a>
</p>

