<!doctype HTML>
<html>
  <head>
    <title>Microblog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pain.less.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  </head>
  <body>
    <header>
      <div class="paddings">
        <a href="/" class="logo">Microblog</a>
        <nav>
          <a href="/admin">Go to Admin</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="paddings">
        <article>
          <%= yield %>
        </article>
      </div>
    </main>
    <footer>
      <div class="paddings">
        <p>
        Crafted with <span class="heart">&#10084;</span> by <a href="http://ruby-journal.com/">Trung Lê</a> - Hồ Chí Minh City, Vietnam
      </div>
    </footer>
    <script type="text/jsx" src="/javascripts/newPost.js"></script>
    <script type="text/jsx" src="/javascripts/viewPostDetail.js"></script>
  </body>
</html>
