<!doctype HTML>
<html>
  <head>
    <title>Microblog - Admin</title>
    <link rel="stylesheet" type="text/css" href="/admin/stylesheets/pain.less.min.css" />
    <link rel="stylesheet" type="text/css" href="/admin/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react-with-addons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  </head>
  <body>
    <header>
      <div class="paddings">
        <a href="/admin" class="logo">Admin</a>
        <nav>
          <a href="/">Back to Frontend</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="paddings">
        <article>
          <%= yield %>
        </article>
        <aside>
          <nav class="list">
            <a href="/admin/posts">List Posts</a>
          </nav>
        </aside>
      </div>
    </main>
    <footer>
      <div class="paddings">
        <p>
        Crafted with <span class="heart">&#10084;</span> by <a href="http://ruby-journal.com/">Trung Lê</a> - Hồ Chí Minh City, Vietnam
      </div>
    </footer>

    <script type="text/jsx" src="/admin/javascripts/previewPost.js"></script>
  </body>
</html>
