/**
 * Dist composed thing, this will be used to generate
 * the static, throw in, version of the framework
 */
/*csslint
  unqualified-attributes: false,
  outline-none: false,
  box-sizing:false,
  compatible-vendor-prefixes: false,
  unique-headings: false,
  qualified-headings: false,
  font-sizes: false,
  adjoining-classes: false
*/
/**
 * The configurations go in here
 *
 * USAGE:
 *
 *     @import "painless";
 *
 *     @layout-width: 1000px;
 *     @sidebar-width: 30em;
 */
/**
 * Various utility classes
 */
.primary {
  color: #3598db;
  border-color: #3598db;
}
.success {
  color: #51af61;
  border-color: #51af61;
}
.warning {
  color: #f4d03f;
  border-color: #f4d03f;
}
.danger {
  color: #ed4d50;
  border-color: #ed4d50;
}
.info {
  color: #af7ac5;
  border-color: #af7ac5;
}
.tiny {
  font-size: 66%;
}
.small {
  font-size: 80%;
}
.large {
  font-size: 140%;
}
.large,
.large * {
  border-width: 2px !important;
}
.jumbo {
  font-size: 200%;
}
.jumbo,
.jumbo * {
  border-width: 3px !important;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.apperance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
}
.basic-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.basic-layout > header,
.basic-layout > main,
.basic-layout > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.basic-layout > header .paddings,
.basic-layout > main .paddings,
.basic-layout > footer .paddings {
  padding: 2em 2em;
}
.basic-layout > header {
  background-color: #8cc4ea;
}
.basic-layout > main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.basic-layout > main .paddings {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.basic-layout > main > article,
.basic-layout > main > .paddings > article {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.basic-layout > main > article > h1:first-child,
.basic-layout > main > .paddings > article > h1:first-child {
  margin-top: 0;
}
.basic-layout > main > aside,
.basic-layout > main > .paddings > aside {
  width: 270px;
  margin-left: 1.6em;
}
.basic-layout > footer {
  background-color: #efe5f3;
}
.basic-layout > footer p:first-child {
  margin-top: 0;
}
.basic-layout > footer p:last-child {
  margin-bottom: 0;
}
.fixed-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fixed-layout > header,
.fixed-layout > main,
.fixed-layout > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fixed-layout > header .paddings,
.fixed-layout > main .paddings,
.fixed-layout > footer .paddings {
  padding: 2em 2em;
}
.fixed-layout > header {
  background-color: #8cc4ea;
}
.fixed-layout > main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fixed-layout > main .paddings {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fixed-layout > main > article,
.fixed-layout > main > .paddings > article {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fixed-layout > main > article > h1:first-child,
.fixed-layout > main > .paddings > article > h1:first-child {
  margin-top: 0;
}
.fixed-layout > main > aside,
.fixed-layout > main > .paddings > aside {
  width: 270px;
  margin-left: 1.6em;
}
.fixed-layout > footer {
  background-color: #efe5f3;
}
.fixed-layout > footer p:first-child {
  margin-top: 0;
}
.fixed-layout > footer p:last-child {
  margin-bottom: 0;
}
.fixed-layout > header,
.fixed-layout > main,
.fixed-layout > footer {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixed-layout > header > .paddings,
.fixed-layout > main > .paddings,
.fixed-layout > footer > .paddings {
  padding-left: 0;
  padding-right: 0;
  width: 970px;
}
/**
 * All the typography stuff go in here
 */
body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 29.52px;
  color: #000000;
}
.header {
  font-family: inherit;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
dt,
legend {
  font-family: inherit;
  font-weight: 500;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
a {
  color: #3598db;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #217dbc;
}
body > header a,
body > header a:hover {
  color: #ffffff;
}
body > header a.logo,
body > header a:hover.logo {
  font-size: 230%;
}
blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.5em;
  border: none;
  border-left: 0.5em solid #d9d9d9;
  border-radius: 3px;
}
blockquote *:not(h1),
blockquote *:not(h2),
blockquote *:not(h3),
blockquote *:not(h4),
blockquote *:not(h5) {
  color: #000000;
}
blockquote cite {
  color: #545454;
}
blockquote cite:before {
  content: "—";
  margin-right: .25em;
}
blockquote.primary {
  border-left-color: #3598db;
}
blockquote.primary h1,
blockquote.primary h2,
blockquote.primary h3,
blockquote.primary h4,
blockquote.primary h5 {
  color: #3598db;
}
blockquote.success {
  border-left-color: #51af61;
}
blockquote.success h1,
blockquote.success h2,
blockquote.success h3,
blockquote.success h4,
blockquote.success h5 {
  color: #51af61;
}
blockquote.warning {
  border-left-color: #f4d03f;
}
blockquote.warning h1,
blockquote.warning h2,
blockquote.warning h3,
blockquote.warning h4,
blockquote.warning h5 {
  color: #f4d03f;
}
blockquote.danger {
  border-left-color: #ed4d50;
}
blockquote.danger h1,
blockquote.danger h2,
blockquote.danger h3,
blockquote.danger h4,
blockquote.danger h5 {
  color: #ed4d50;
}
blockquote.info {
  border-left-color: #af7ac5;
}
blockquote.info h1,
blockquote.info h2,
blockquote.info h3,
blockquote.info h4,
blockquote.info h5 {
  color: #af7ac5;
}
tt,
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 85%;
}
tt {
  color: #af7ac5;
}
body > footer {
  color: #666666;
}
ul.unstyled,
ol.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.horizontal,
ol.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.horizontal > li,
ol.horizontal > li {
  display: inline-block;
}
dl dd {
  margin-left: 0;
}
dl.horizontal dt {
  float: left;
  width: 10em;
}
/**
 * Various components
 */
.button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  padding: .31em 1em;
}
.button:hover {
  background: #e6e6e6;
  text-decoration: none;
}
.button.primary,
.button.success,
.button.warning,
.button.danger,
.button.info {
  color: #ffffff;
}
.button.primary {
  background: #3598db;
  border-color: #3598db;
}
.button.primary:hover {
  background: #2383c4;
}
.button.success {
  background: #51af61;
  border-color: #51af61;
}
.button.success:hover {
  background: #449351;
}
.button.warning {
  background: #f4d03f;
  border-color: #f4d03f;
}
.button.warning:hover {
  background: #f2c718;
}
.button.danger {
  background: #ed4d50;
  border-color: #ed4d50;
}
.button.danger:hover {
  background: #e9282c;
}
.button.info {
  background: #af7ac5;
  border-color: #af7ac5;
}
.button.info:hover {
  background: #9e5eb9;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  padding: .31em 1em;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #e6e6e6;
  text-decoration: none;
}
button.primary,
input[type="button"].primary,
input[type="submit"].primary,
input[type="reset"].primary,
button.success,
input[type="button"].success,
input[type="submit"].success,
input[type="reset"].success,
button.warning,
input[type="button"].warning,
input[type="submit"].warning,
input[type="reset"].warning,
button.danger,
input[type="button"].danger,
input[type="submit"].danger,
input[type="reset"].danger,
button.info,
input[type="button"].info,
input[type="submit"].info,
input[type="reset"].info {
  color: #ffffff;
}
button.primary,
input[type="button"].primary,
input[type="submit"].primary,
input[type="reset"].primary {
  background: #3598db;
  border-color: #3598db;
}
button.primary:hover,
input[type="button"].primary:hover,
input[type="submit"].primary:hover,
input[type="reset"].primary:hover {
  background: #2383c4;
}
button.success,
input[type="button"].success,
input[type="submit"].success,
input[type="reset"].success {
  background: #51af61;
  border-color: #51af61;
}
button.success:hover,
input[type="button"].success:hover,
input[type="submit"].success:hover,
input[type="reset"].success:hover {
  background: #449351;
}
button.warning,
input[type="button"].warning,
input[type="submit"].warning,
input[type="reset"].warning {
  background: #f4d03f;
  border-color: #f4d03f;
}
button.warning:hover,
input[type="button"].warning:hover,
input[type="submit"].warning:hover,
input[type="reset"].warning:hover {
  background: #f2c718;
}
button.danger,
input[type="button"].danger,
input[type="submit"].danger,
input[type="reset"].danger {
  background: #ed4d50;
  border-color: #ed4d50;
}
button.danger:hover,
input[type="button"].danger:hover,
input[type="submit"].danger:hover,
input[type="reset"].danger:hover {
  background: #e9282c;
}
button.info,
input[type="button"].info,
input[type="submit"].info,
input[type="reset"].info {
  background: #af7ac5;
  border-color: #af7ac5;
}
button.info:hover,
input[type="button"].info:hover,
input[type="submit"].info:hover,
input[type="reset"].info:hover {
  background: #9e5eb9;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  padding: 0.5em 0.75em;
  padding-left: 1em;
  padding-right: 1em;
}
button[type="submit"],
input[type="submit"] {
  color: #ffffff;
  background: #3598db;
  border-color: #3598db;
}
button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #2383c4;
}
.group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.group > * {
  border-radius: 0;
}
.group > *:first-child {
  border-radius: 3px 0 0 3px;
}
.group > *:last-child {
  border-radius: 0 3px 3px 0;
}
.group > *:not(:last-child) {
  border-right-width: 0 !important;
}
.group > input,
.group > textarea,
.group > select {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0 !important;
}
code {
  background: #efe5f3;
  display: inline-block;
  padding: 0 .5em;
  border-radius: 3px;
  white-space: nowrap;
}
pre code {
  background: #f7f7f7;
  display: block;
  margin: 0;
  padding: .7em 1.25em;
  white-space: pre-wrap;
  position: relative;
}
pre code[lang]:before {
  content: attr(lang);
  display: block;
  position: absolute;
  font-size: 90%;
  color: #af7ac5;
  right: 0;
  top: 0;
  border: 1px solid inherit;
  border-right: none;
  border-top: none;
  border-radius: 0 3px 0 3px;
  padding: 0 .75em;
  background-color: #efe5f3;
  opacity: 0.7;
}
.nav-bar a {
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
}
.nav-bar a.active {
  color: #3598db;
}
.nav-list a {
  display: block;
}
nav.bar a {
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
}
nav.bar a.active {
  color: #3598db;
}
nav.list a {
  display: block;
}
nav a {
  padding: .2em .5em;
  border-radius: 3px;
}
nav a.active,
nav a:active,
nav a:hover {
  background: #e2f0fa;
  color: #3598db;
  text-decoration: none;
}
body > header nav {
  float: right;
}
body > header nav a {
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
}
body > header nav a.active {
  color: #3598db;
}
body > header nav a:hover {
  color: #3598db;
}
body > main > .paddings > aside nav a {
  display: block;
}
/**
 * Contains the tables styles
 */
table {
  box-size: border-box;
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  text-align: left;
  padding: .25em .5em;
  border: 0px solid #d9d9d9;
}
table th {
  border-bottom-width: 2px;
}
table td {
  border-top-width: 1px;
}
table.bordered th,
table.bordered td {
  border-width: 1px;
}
table.bordered th {
  border-bottom-width: 2px;
}
table.striped tr:nth-child(2n) {
  background-color: #f2f2f2;
}
table.striped tr td {
  border-width: 0;
}
/**
 * The forms related stuff goes in here
 */
.input-field {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="url"],
textarea,
select {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
}
textarea {
  min-height: 8em;
}
select[multiple] {
  padding: 0;
}
select[multiple] option {
  padding: .5em .75em;
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: 2em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAR0lEQVQ4y2NgGAUjHjgD8QQC2JkSC0KA+C8Q/8eB/0LVUATicFjyFypHFRANxH+QDP8DFaMqCAfi31AcTqtId4fiUTAKEAAAWwscMzqrRSoAAAAASUVORK5CYII87d67e0a32c260521d671b5e34895057);
  background-repeat: no-repeat;
  background-position: right center;
}
input[type="file"] {
  cursor: pointer;
}
input[type="file"] .file-button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  min-width: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="file"]::-webkit-file-upload-button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  min-width: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="file"]::-moz-file-upload-button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  min-width: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="file"]::-ms-file-upload-button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  min-width: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="file"]::file-upload-button {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  min-width: 0;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #000000;
  padding: 0.5em 0.75em;
  min-width: 24em;
  outline-color: #8cc4ea;
  outline-width: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  width: 1em;
  height: 1em;
  min-width: 0;
  position: relative;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:before,
input[type="radio"]:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 75%;
  font-weight: bold;
  line-height: 1.2em;
}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  background: #e6e6e6;
  color: #4d4d4d;
  cursor: default;
}
input[type="checkbox"]:checked:before {
  content: "✔︎";
}
input[type="radio"] {
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  content: "●";
}
.controls label {
  display: block;
  margin-bottom: .25em;
}
.controls label input[type="checkbox"],
.controls label input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: .25em;
}
.controls input[type="text"],
.controls input[type="password"],
.controls input[type="search"],
.controls input[type="email"],
.controls input[type="number"],
.controls input[type="url"],
.controls textarea,
.controls select {
  width: 100%;
  min-width: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.controls.required label:after {
  content: '*';
  color: #ed4d50;
  margin-left: .25em;
}
.controls.primary input,
.controls.primary textarea,
.controls.primary select {
  color: #3598db;
  border-color: #3598db;
}
.controls.success input,
.controls.success textarea,
.controls.success select {
  color: #51af61;
  border-color: #51af61;
}
.controls.warning input,
.controls.warning textarea,
.controls.warning select {
  color: #f4d03f;
  border-color: #f4d03f;
}
.controls.danger input,
.controls.danger textarea,
.controls.danger select {
  color: #ed4d50;
  border-color: #ed4d50;
}
.controls.info input,
.controls.info textarea,
.controls.info select {
  color: #af7ac5;
  border-color: #af7ac5;
}
form > p label,
fieldset > p label {
  display: block;
  margin-bottom: .25em;
}
form > p label input[type="checkbox"],
fieldset > p label input[type="checkbox"],
form > p label input[type="checkbox"],
fieldset > p label input[type="checkbox"] {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: .25em;
}
form > p input[type="text"],
fieldset > p input[type="text"],
form > p input[type="password"],
fieldset > p input[type="password"],
form > p input[type="search"],
fieldset > p input[type="search"],
form > p input[type="email"],
fieldset > p input[type="email"],
form > p input[type="number"],
fieldset > p input[type="number"],
form > p input[type="url"],
fieldset > p input[type="url"],
form > p textarea,
fieldset > p textarea,
form > p select,
fieldset > p select {
  width: 100%;
  min-width: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
form > p.required label:after,
fieldset > p.required label:after {
  content: '*';
  color: #ed4d50;
  margin-left: .25em;
}
form > p.primary input,
fieldset > p.primary input,
form > p.primary textarea,
fieldset > p.primary textarea,
form > p.primary select,
fieldset > p.primary select {
  color: #3598db;
  border-color: #3598db;
}
form > p.success input,
fieldset > p.success input,
form > p.success textarea,
fieldset > p.success textarea,
form > p.success select,
fieldset > p.success select {
  color: #51af61;
  border-color: #51af61;
}
form > p.warning input,
fieldset > p.warning input,
form > p.warning textarea,
fieldset > p.warning textarea,
form > p.warning select,
fieldset > p.warning select {
  color: #f4d03f;
  border-color: #f4d03f;
}
form > p.danger input,
fieldset > p.danger input,
form > p.danger textarea,
fieldset > p.danger textarea,
form > p.danger select,
fieldset > p.danger select {
  color: #ed4d50;
  border-color: #ed4d50;
}
form > p.info input,
fieldset > p.info input,
form > p.info textarea,
fieldset > p.info textarea,
form > p.info select,
fieldset > p.info select {
  color: #af7ac5;
  border-color: #af7ac5;
}
form > p.buttons,
fieldset > p.buttons {
  margin-top: 1.5em;
}
form.horizontal > p,
fieldset.horizontal > p,
form.horizontal .controls,
fieldset.horizontal .controls {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
form.horizontal > p label,
fieldset.horizontal > p label,
form.horizontal .controls label,
fieldset.horizontal .controls label {
  width: 10em;
  padding-top: .5em;
}
form.horizontal > p label.checkbox,
fieldset.horizontal > p label.checkbox,
form.horizontal .controls label.checkbox,
fieldset.horizontal .controls label.checkbox {
  margin-left: 10em;
  width: auto;
}
form.horizontal > p.buttons,
fieldset.horizontal > p.buttons,
form.horizontal .controls.buttons,
fieldset.horizontal .controls.buttons {
  margin-left: 10em;
}
form.inline,
fieldset.inline {
  white-space: nowrap;
}
form.inline > p,
fieldset.inline > p,
form.inline .controls,
fieldset.inline .controls {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
form.inline > p > label,
fieldset.inline > p > label,
form.inline .controls > label,
fieldset.inline .controls > label,
form.inline > p input,
fieldset.inline > p input,
form.inline .controls input,
fieldset.inline .controls input,
form.inline > p textarea,
fieldset.inline > p textarea,
form.inline .controls textarea,
fieldset.inline .controls textarea,
form.inline > p select,
fieldset.inline > p select,
form.inline .controls select,
fieldset.inline .controls select {
  display: inline-block;
  vertical-align: middle;
  min-width: 0;
  width: auto;
}
form.inline.group > p > input:not([type="checkbox"]),
fieldset.inline.group > p > input:not([type="checkbox"]),
form.inline.group .controls > input:not([type="checkbox"]),
fieldset.inline.group .controls > input:not([type="checkbox"]),
form.inline.group > p > textarea,
fieldset.inline.group > p > textarea,
form.inline.group .controls > textarea,
fieldset.inline.group .controls > textarea,
form.inline.group > p > select,
fieldset.inline.group > p > select,
form.inline.group .controls > select,
fieldset.inline.group .controls > select,
form.inline.group > p > button,
fieldset.inline.group > p > button,
form.inline.group .controls > button,
fieldset.inline.group .controls > button {
  border-radius: 0;
  border-right-width: 0;
}
form.inline.group > p:not(.buttons),
fieldset.inline.group > p:not(.buttons),
form.inline.group .controls:not(.buttons),
fieldset.inline.group .controls:not(.buttons) {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
form.inline.group > p:not(.buttons) > input:not([type="checkbox"]),
fieldset.inline.group > p:not(.buttons) > input:not([type="checkbox"]),
form.inline.group .controls:not(.buttons) > input:not([type="checkbox"]),
fieldset.inline.group .controls:not(.buttons) > input:not([type="checkbox"]),
form.inline.group > p:not(.buttons) > textarea,
fieldset.inline.group > p:not(.buttons) > textarea,
form.inline.group .controls:not(.buttons) > textarea,
fieldset.inline.group .controls:not(.buttons) > textarea,
form.inline.group > p:not(.buttons) > select,
fieldset.inline.group > p:not(.buttons) > select,
form.inline.group .controls:not(.buttons) > select,
fieldset.inline.group .controls:not(.buttons) > select {
  width: 100%;
}
form.inline.group > p:first-child > input:not([type="checkbox"]):first-child,
fieldset.inline.group > p:first-child > input:not([type="checkbox"]):first-child,
form.inline.group .controls:first-child > input:not([type="checkbox"]):first-child,
fieldset.inline.group .controls:first-child > input:not([type="checkbox"]):first-child,
form.inline.group > p:first-child > textarea:first-child,
fieldset.inline.group > p:first-child > textarea:first-child,
form.inline.group .controls:first-child > textarea:first-child,
fieldset.inline.group .controls:first-child > textarea:first-child,
form.inline.group > p:first-child > select:first-child,
fieldset.inline.group > p:first-child > select:first-child,
form.inline.group .controls:first-child > select:first-child,
fieldset.inline.group .controls:first-child > select:first-child,
form.inline.group > p:first-child > button:first-child,
fieldset.inline.group > p:first-child > button:first-child,
form.inline.group .controls:first-child > button:first-child,
fieldset.inline.group .controls:first-child > button:first-child {
  border-radius: 3px 0 0 3px;
}
form.inline.group > p:last-child > input:not([type="checkbox"]):last-child,
fieldset.inline.group > p:last-child > input:not([type="checkbox"]):last-child,
form.inline.group .controls:last-child > input:not([type="checkbox"]):last-child,
fieldset.inline.group .controls:last-child > input:not([type="checkbox"]):last-child,
form.inline.group > p:last-child > textarea:last-child,
fieldset.inline.group > p:last-child > textarea:last-child,
form.inline.group .controls:last-child > textarea:last-child,
fieldset.inline.group .controls:last-child > textarea:last-child,
form.inline.group > p:last-child > select:last-child,
fieldset.inline.group > p:last-child > select:last-child,
form.inline.group .controls:last-child > select:last-child,
fieldset.inline.group .controls:last-child > select:last-child,
form.inline.group > p:last-child > button:last-child,
fieldset.inline.group > p:last-child > button:last-child,
form.inline.group .controls:last-child > button:last-child,
fieldset.inline.group .controls:last-child > button:last-child {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
}
fieldset {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 1em;
  padding-top: .5em;
}
fieldset legend {
  padding: 0 1em;
}
fieldset > p:first-of-type,
fieldset .controls:first-of-type {
  margin-top: 0;
}
fieldset > p:last-of-type,
fieldset .controls:last-of-type {
  margin-bottom: 0;
}
/**
 * A simple flex-box based grid system
 */
.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.grid > * {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  box-sizing: border-box;
}
.grid > *.half {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.grid > *.third {
  -webkit-flex: 0 0 33.3333%;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
}
.grid > *.quarter {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.grid > *.fifth {
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}
.grid:not(.tight) {
  margin-left: -1em;
}
.grid:not(.tight) > * {
  padding-left: 1em;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
body > header,
body > main,
body > footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body > header .paddings,
body > main .paddings,
body > footer .paddings {
  padding: 2em 2em;
}
body > header {
  background-color: #8cc4ea;
}
body > main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body > main .paddings {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body > main > article,
body > main > .paddings > article {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
body > main > article > h1:first-child,
body > main > .paddings > article > h1:first-child {
  margin-top: 0;
}
body > main > aside,
body > main > .paddings > aside {
  width: 270px;
  margin-left: 1.6em;
}
body > footer {
  background-color: #efe5f3;
}
body > footer p:first-child {
  margin-top: 0;
}
body > footer p:last-child {
  margin-bottom: 0;
}
body > header,
body > main,
body > footer {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body > header > .paddings,
body > main > .paddings,
body > footer > .paddings {
  padding-left: 0;
  padding-right: 0;
  width: 970px;
}
